nav{
    width: 100%;
    margin-right: 20px;
}

ul{
    width: 60%;
    float: right;
}

li{
    width: 30%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    display:inline-block;
    min-width: 90px;
    max-width: 150px;
    font-size: 15px;
}

a{
    text-decoration: none;
    color:white;
}

.block-office{
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin: 0px 5px;
}

.margin-block{
    margin: 0 10px;
}
