.content-coordinates{
    width:100%;
    border-collapse: separate;
    border-spacing: 1px;
}
.block-coordinate{
    display: table-cell;
    width: 20%;
    max-width: 330px;
}

.office-state{
    width: 50%;
    text-align: left;
    display: inline-block;
}

.office-coordinate{
    width: 45%;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}

.block-coordinate span{
    font-size: 13px;
}

.row-block{
    display: table-row;
}

.block-office{
    cursor: pointer;
    display: table-cell;
    width: 12%;
    text-align: center;
    border: 1px solid black;
    padding: 5px 0px;
    font-size: 11px;
    font-weight: bold;
    color: black;
    min-width: 40px;
    min-height: 40px;
}

.block-office:hover{
    animation: blockanimate 600ms forwards;
}

.blocks-offices{
    display: block;
    width: 18%;
}

.choose-state-office{
    display: inline-block;
    width: 100%;
}

.choose-state-office div{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
}

.choose-state-office label{
    margin-left: 15px;
}

.block-active{
    background-color: rgba(40,167,69,0.7);
    border: 1px solid #2e8842;
}

.block-inactive-time{
    background-color: rgba(255,0,0,0.7);
    border: 1px solid #e81e1e;
}

.block-inactive{
    background-color: rgba(0,123,255,0.7);
    border: 1px solid #0865ca;
}

.block-listen{
    background-color: rgba(255,246,0,0.7);
    border: 1px solid #fbf201;   
}

.block-stop{
    background-color:  rgba(170,102,205,0.7); 
    border: 1px solid #a14bca;       
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blockanimate {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

/* Standard syntax */
@keyframes blockanimate {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}