<div>
  <div class="content-coordinates">
    <div class="block-coordinate">
      <span class="office-state">Oficina situación normal</span>
      <span class="office-coordinate">Coordinador x</span>
      <div class="blocks-offices">
        <div class="row-block"> 
          <div class="block-office block-active">101</div>
          <div class="block-office block-inactive-time">102</div>
          <div class="block-office block-inactive">101</div>
          <div class="block-office block-listen">102</div>
          <div class="block-office block-stop">101</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
        </div>
        <div class="row-block">
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
        </div>
        <div class="row-block">
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
        </div>
        <div class="row-block">
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
        </div>
        <div class="row-block">
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
          <div class="block-office">102</div>
        </div>
      </div>
    </div>
  </div>
</div>